#name {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align: center;
    font-size: 250%;
}

#contact table{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

#contact td:first-child {
    text-align: right;
    padding-right: 5px;
}

#contact td:last-child {
    text-align: left;
    padding-left: 5px;
}

#info {
    margin-left: 5%;
    margin-right: 10%;
}

#info > h2 {
    border-width: 1px;
    border-color: #33A;
    border-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0px;
    padding-left: 5px;
}

#info > div {
    margin-top: -1px;
    padding-top: 5px;
    padding-left: 2%;
    border-width: 1px;
    border-color: #33A;
    border-style: solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
}
